<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${greeting}"></p>
<form method="post" action="/hello">
    <label for="name">Imię</label>
    <input type="text" id="name" name="name"/>
    <br>
    <label for="age">Wiek</label>
    <input type="text" id="age" name="age"/>
    <br>
    <label for="sex">Płeć (k/m)</label>
    <input type="text" id="sex" name="sex"/>
    <br>
    <input type="submit" value="OK">
</form>
</body>
</html>